#DB Credentials [replace with your db credentials]
DB_NAME = exampleDB
DB_USER = exampleUser
DB_PASS = example

#DB Uri [replace with your db uri]
DB_LOCAL_URI = mongodb+srv://<username>:<password>@cluster0.ygecibd.mongodb.net/?retryWrites=true&w=majority
DB_PROD_URI =

#Environment
NODE_ENVIRONMENT = development

#Client url for passing through CORS [replace with your urls]
LOCAL_CLIENT_URL = http://localhost:5173
PRODUCTION_CLIENT_URL_ONE = https://assignment-twelve-3c9f6.web.app 
PRODUCTION_CLIENT_URL_TWO = https://assignment-twelve-3c9f6.firebaseapp.com

#Token Secret
ACCESS_TOKEN_SECRET = example [replace with your credentials]

STRIPE_SECRATE_KEY= example [replace with your credentials]
